/*
azul escuro: rgb(2, 27, 38)
azul claro: rgb(195, 227, 245)

azul-botao: rgb(23, 176, 228)
azul-link: rgb(9, 70, 92)

*/

body {
    background-color:rgb(2, 27, 38);
}
main {
    width: 960px;
    margin: auto;
    background-color: #fff;
    padding: 2px 0px;

}
blockquote, main footer {
    background-color: rgb(195, 227, 245);
}

header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.a
{
    color: rgb(9, 70, 92);
}

header h1 {
    color: #fff;
    margin: 20px auto;
 
}
nav ul {
    list-style-type:none;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
  
    
}

nav li {
    padding: 20px;
}

nav a {
    color:#fff;
    text-decoration: none;
}
#banner
{

    margin: 20px ;
    width: 800px;
    height: 450px;
    padding: 20px 50px;  
    background-image: url("/lab2/lab02/img/surf.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 100px;
}
 #banner h2 
{
    color: #ffff;
     font-size: 40px;
}

#banner p
{
   position: relative;
   top: 65px;
   right:130px;
    color: #ffff;
}

main section 
{
    display: flex;
    flex-direction: row;
}

.boxes div
{
    color: white;
    width: 340px;
    margin: 20px;
    height: 350px;
    padding: 0px 60px;
    background-color: rgb(9, 70, 92);
}
button{
    background-color: rgb(23, 176, 228);
    padding: 8px;
    position: relative;
    top: 80px;
    border-style: none;
}

.boxes2
{
    color: rgb(2, 27, 38);
    margin: 40px;

}

div blockquote
{
    width: 400px;
    height: 100px;
    padding: 30px;
    text-align: center;
}

div .h3 
{
 position: relative;
 left: 140px;
}

.color-link
{
    color: rgb(2, 27, 38);
}

.color-link2
{
    color: rgb(23, 176, 228);
}
footer{
    height: 80px;
  
}
footer div
{
    margin: 0px 200px;
    color: white;
}