body {
    background-color:rgb(75, 74, 74);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: aliceblue;
}

h3 {
    font-size: 24px;
    text-align: center;
}

h4 {
    font-size: 18px;
}

button{
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color:  rgb(224, 221, 221);
}

button:hover{
    background-color: rgb(164, 165, 165);
    cursor: pointer;
    transition: .7s;
}
